:root {

    --primary-color: #0D265C;
    --secondary-color: #0B98DA;
    --background-color: #f6f8fa;
    
    /* Add more color variables as needed */
}

.body{
    font-family: 'Poppins', sans-serif;
}